body {
    background-color: #F5F7FA;
  }
  .demo-content {
   padding: 30px 20px;
  }
  .box {
    padding: 12px 12px;
    background-color: #fff;
    margin-bottom: 15px;
    max-width: 100px;
    text-align: center;
    font-family: "Roboto", Arial, sans-serif;
    border: 1px solid #656D78;
    color: #656D78;
    position: relative;
    box-shadow: 3px 3px 0 0 rgba(0,0,0,0.1);
  }
  .play {
    color: #AAB2BD;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    width: 80px;
    margin-bottom: 30px;
    border-radius: 30px;
  }
  .play:hover {
    color: #656D78;
  }
  .ion {
    margin-right: 5px;
  }